body {
        margin: 0px;
    }

    #frame #img {
        width:100%;
    }
    
    #webcam {
        position: absolute;
        right: 10px;
        top: 10px;
        color: white;
        font-size: x-large;
    }
    
    #webcam #messages {
        background-color: black;
        opacity: 0.7;
        font-size: smaller;
        font-family: 'Andale Mono', AndaleMono, monospace;
        color: green;
    }
    
    #webcam #messages ul {
        padding: 4px;
    }
    
    #webcam.ads {
        position: absolute;
        right: 10px;
        top: 800px;
        font-size: x-large;
    }
    
    #webcam #ads #adtext {
        background-color: black;
        opacity: 0.7;
        font-size: smaller;
        font-family: 'Andale Mono', AndaleMono, monospace;
        color: green;
    }
    
    #vid {
        width: 200px;
    }
    
    ol {
        padding: 0px;
    }
    
    li {
        list-style-type: none;
    }